body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin:0 -15px;
}

.col-4 {
  width:33.33%;
  padding: 15px;
}

.col-7 {
  width: 58.33%;
  padding: 15px;
}

.col-5 {
  width: 41.67%;
  padding: 15px;
}

.col-3 {
  width: 25%;
  padding: 15px;
}

.col-2 {
  width: 15%;
  padding: 15px;
}
.header{
  padding: 15px 0;
  background-color: #230312;
}

.logo-img {
  width: 250px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 40px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.link-cocktail {
  text-decoration: none;
}
.header-btn {
  background-color: #af0a0a;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
}
img {
  width: 100%;
}
